.form{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form__submitContainer{
	width: 100%;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__submitButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--green);
	color: white;
	width: 100%;
	border-radius: 3px;
	font-size: 0.9rem;
	font-weight: 500;
	padding: 0 24px;
	height: 48px;
	border-width: 0;
	outline: none;
}

.form__submitButton:disabled{
	opacity: 0.6;
	border-width: 0;
}

.form__submitButton:hover:enabled{
	background: var(--dark-green);
}

.form__submitButton__icon{
	padding-right: 5px;
}

.form__errors{
	padding: 10px 0 0 5px;
	font-size: 0.814rem;
	color: var(--red-600);
	font-weight: 500;
}