.createTokenForm{
	width: 100%;
	height: 100%;
	display: flex;
	flex: 3 3;
	justify-content: center;
	align-items: center;
	background: var(--green-bg);
	color: var(--white-text);
}

.createTokenForm__form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form__fields{
	width: 55%;
	margin-bottom: 18px;
}

.form__fields__value{
	position: relative;
	display: flex;
}

.form__fields__input{
	width: 100%;
	border-width: 0;
	border-radius: 3px;
	font-size: 0.9rem;
	padding: 28px 12px 6px;
	height: 52px;
	background: var(--white-bg);
	border: 1px solid var(--darkgreen-text);
	outline: none;
}

.form__fields__label{
	position: absolute;
	color: black;
	font-size: 0.9rem;
	padding: 16px 5px 16px 10px;
	transition: .2s all;
}

.form__fields__value>input:focus + label{
	color: var(--darkgreen-text);
	font-size: 0.7rem;
	padding: 5px 5px 28px 10px;
	font-weight: 500;
}

.form__fields__value>input:valid + label{
	color: var(--darkgreen-text);
	font-size: 0.7rem;
	padding: 5px 5px 28px 10px;
	font-weight: 500;
}

.form__submitButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--darkgreen-text);
	color: var(--white-text);
	font-weight: 500;
	padding: 0 24px;
	height: 52px;
}

.form__submitButton:disabled{
	opacity: 0.5;
}

.form__submitButton:hover:enabled{
	background: var(--darkergreen-text);
}

.form__fields__errors{
	margin-top: 2px;
	font-size: 0.814rem;
	color: var(--white-text);
	/* color: #870036; */
	font-weight: 500;
}