.description{
	height: 100%;
	width: 100%;
	flex: 4 4;
	display: flex;
	flex-direction: column;
}

.description__header{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10%;
}

.description__tag{
	font-size: 3rem;
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
}

.description__token{
	color: var(--blue);
}

.description__network{
	padding: 40px 0 0 20px;
}

.description__networkInfo{
	position: absolute;
	padding: 3px;
	opacity: 0.8;
}

.description__networkInfo::before{
	position: absolute;
	content: '';
	width: 9px;
	height: 9px;
	top: 9px;
	left: -15px;
	border-radius: 50%;
	background: var(--green);
}

.description__networkInfo::after{
	position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    top: 6px;
    left: -18px;
    border-radius: 50%;
	border: 1px solid var(--green);
}