.description{
	height: 100%;
	width: 100%;
	flex: 4 4;
}

.description__network{
	padding: 20px 0 0 10%;
	background: var(--white-bg);
}

.description__networkInfo{
	position: absolute;
	background: #f1f2f3;
}

.description__networkInfo::before{
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	top: 7px;
	left: -12px;
	border-radius: 50%;
	background: #870036;
}

.description__header{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white-bg);
	/* padding-right: calc((100vw - 1140px)/2); */
}

.description__title{
	padding: 0 10%;
}

.description__tag{
	font-size: 3.5rem;
	font-family: 'Heebo', sans-serif;
	font-weight: bolder;
}